body {
  overflow: hidden;
}
section {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  background: linear-gradient(135deg, #111, #222, #111);
}

section i {
  position: absolute;
  background-color: aliceblue;
  border-radius: 50%;
  box-shadow: 0 0 10px aliceblue, 0 0 20px aliceblue, 0 0 40px aliceblue,
    0 0 80px aliceblue;
  animation: animate linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
